 * { 
    padding:0; 
    margin:0; 
} 

h1 {
    width: 300px;
}

h5 {
    display: flex;
    justify-content: center;
}

form {
    display: flex;
    gap: 40px;
    justify-content: center;
    margin-top: 100px;
}