@import url('https://fonts.googleapis.com/css2?family=Climate+Crisis&family=Dancing+Script:wght@600&family=Mynerve&family=Roboto&family=Titillium+Web&family=Ubuntu&display=swap');




* { 
    padding:0; 
    margin:0; 
} 

.container{
    margin-top: 50px;

    width: 30%;
    background-color: #118ab2;
    padding: 50px;

}

h1 {
    color: #ffb703;
}
.h1 {
    text-align: center;
}
form {
    display: flex;
    flex-direction: column;
    
    gap: 20px;
    margin-top: 20px;

}

label {
    color: black;
    font-weight: bold;
}
.textarea {
    height: 200px;
    border-radius: 1rem;
    padding: 5px;
    font-weight: bold;
}
.result {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    gap: 40px;
}

.info {
    text-align: center;
    font-family: 'Mynerve', cursive;
}


input {
    color: darkgreen;
    padding: 5px;
    font-weight: bold;
    font-family: 'Titillium Web', sans-serif;
}

a {
    display: flex;
    justify-content: center;
}



